{% block header %}
<header>
    <div class="flex">
        <a href="/" class="logo" alt="일등도시가스 로고" title="일등도시가스 로고">일등도시가스</a>
        <nav class="nav">
            <ul>
                <li><a href="/about">일등도시가스</a></li>
                <li><a href="/quote">견적문의</a></li>
                <li><a href="/gallery">시공예시</a></li>
            </ul>
        </nav>
    </div>
</header>
{% endblock header %}