<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>일등도시가스</title>
		<link rel="stylesheet" href="./css/Common.css" />
    </head>
    <body>
        {%include "_header.njk"%}
       {{ content | safe }}
    </body>
</html>
