---
layout: _layout.njk
title: 일등도시가스 | 도시가스시공 > 회사소개
description: 도시가스 시공업체 일등도시가스입니다. 안전과 신뢰를 최우선으로, 도시가스 시공의 새로운 기준을 세웁니다. 견적문의 02-476-6230
url: /about
permalink: /about.html
assetroot: ./asset
---

<div class="page-title-wrap">
	<div class="container">
		<div>
			<h2 class="page-title">회사소개</h2>
			언제나 일등, First Class 도시가스
		</div>
	</div>
</div>

<section class="container section-sub">
	<h3 class="slogan text-center">안전과 신뢰를 최우선으로, 도시가스 시공의 새로운 기준을 세웁니다.</h3>

	<div class="about-wrap mb-50">
		<h4 class="title">Company Identity</h4>
		<p>
			일등 도시가스는 이름 그대로, 업계에서 ‘일등’의 자리를 지키기 위해 끊임없이 노력하는 도시가스 시공 전문업체입니다. <br />
			저희는 상가 및 상업시설을 중심으로 수많은 프로젝트를 성공적으로 완수하며, 고객의 신뢰와 안전을 최우선 가치로 삼고 있습니다.
		</p>
	</div>

	<div class="about-wrap mb-50">
		<h4 class="title">Expertise & Competitiveness</h4>
		<p class="p">
			다년간의 현장 경험을 바탕으로, 맞춤형 시공 솔루션과 체계적인 관리 시스템을 구축했습니다.<br />
			빠른 일정 준수, 꼼꼼한 시공, 철저한 안전 관리로 고객의 비즈니스에 차질이 없도록 최적의 서비스를 제공합니다. <br />
			일등 도시가스의 기술력은 단순한 시공을 넘어, 고객의 사업 성공을 뒷받침하는 든든한 기반이 되고 있습니다.
		</p>
	</div>

	<div class="about-wrap">
		<h4 class="title">Vision & Commitment</h4>
		<p class="p">
			앞으로도 일등 도시가스는 이름에 걸맞게 업계 1위를 지향하며, 고객과 함께 성장하는 파트너가 되겠습니다. <br />
			“First Class”라는 사명에 걸맞은 품질과 서비스를 통해, 언제 어디서나 안심할 수 있는 도시가스 시공의 표준을 만들어 가겠습니다.
		</p>
	</div>
</section>
