---
layout: _layout.njk
title: 일등도시가스 | 도시가스시공 > 시공후기
description: 도시가스 시공업체 일등도시가스입니다. 안전하고 깔끔한 시공사례를 확인해보세요. 견적문의 02-476-6230
url: /gallery
permalink: /gallery.html
assetroot: ./asset
---

<div class="page-title-wrap">
	<div class="container">
		<div>
			<h2 class="page-title">시공후기</h2>
			안전하고 깔끔한 시공사례를 확인해보세요.
		</div>
	</div>
</div>

<section class="container section-sub">
	<ul class="gallery-list">
		{% for item in gallery %}
		<li>
			<a href="/galleryDetails/page_{{ item.slug }}" title="{{ item.title }}">
				<div class="img-wrap">
					<img src="asset/images/gallery/g_{{ item.slug }}_1.png" alt="{{ item.title }}" />
				</div>
				<div class="cont-wrap">
					<h4 class="title">{{ item.title }}</h4>
					<h5 class="title-sub">{{ item.description }}</h5>
					<div class="hidden">
						{% for tag in item.hashtag %}
						<span>#{{ tag }}</span>
						{% endfor %}
					</div>
				</div>
			</a>
		</li>
		{% endfor %}
		<!--시공사례 End-->
	</ul>
</section>
<script>
	function SetStorage(index, count) {
		var title = $("#title_" + index).html();
		var subTitle = $("#subTitle_" + index).html();
		var hashTag = $("#hashTag_" + index).html();

		localStorage.setItem("title", title);
		localStorage.setItem("subTitle", subTitle);
		localStorage.setItem("hashTag", hashTag);
		location.href = "/galleryDetails?idx=" + index + "&imgCount=" + count;
	}
</script>
