---
title: 메인
---
<main>
    <section class="main-banner">
        <img src="" />
        <div class="container">
            <h2>
                <span>도시가스 배관시공은</span><br>
                일등 도시가스
            </h2>
            <div class="gap-4">
                <a href="/gallery" title="시공사례" class="btn-dark">시공사례 확인하기</a>
                <a href="/quote" title="견적문의" class="btn-dark">견적문의하기</a>
            </div>
        </div>
    </section>
    <section class="bg-pipe">
        <div class="container">
            <h3 class="main-title">현장에서 증명된 기술력</h3>
            <h4 class="main-sub-title">다양한 산업과 공간에 맞춤시공한 사례를 확인하세요.</h3>
            <ul class="main-list-1">
                <li>
                    <a href="#none">
                        <img src="./asset/images/testImg_1.png" alt="">
                        <span>업체명</span><br>
                        시공사례 상세설명 미리보기 텍스트
                    </a>
                </li>
                <li>
                    <a href="#none">
                        <img src="./asset/images/testImg_1.png" alt="">
                        <span>업체명</span><br>
                        시공사례 상세설명 미리보기 텍스트
                    </a>
                </li>
                <li>
                    <a href="#none">
                        <img src="./asset/images/testImg_1.png" alt="">
                        <span>업체명</span><br>
                        시공사례 상세설명 미리보기 텍스트
                    </a>
                </li>
            </ul>
        </div>
        <div  class="container">
            <ul class="main-list-2">
                <li>
                    <img src="./asset/images/testImg_1.png" alt="">
                    <div class="cont">
                        <span class="title">상업 및 업무용 배관 시공</span><br>
                        음식점, 상가, 오피스 등 다양한 현장 경험 보유
                    </div>
                </li>
                <li>
                    <img src="./asset/images/testImg_1.png" alt="">
                    <div class="cont">
                        <span class="title">상업 및 업무용 배관 시공</span><br>
                        음식점, 상가, 오피스 등 다양한 현장 경험 보유
                    </div>
                </li>
                <li>
                    <img src="./asset/images/testImg_1.png" alt="">
                    <div class="cont">
                        <span class="title">상업 및 업무용 배관 시공</span><br>
                        음식점, 상가, 오피스 등 다양한 현장 경험 보유
                    </div>
                </li>
                <li>
                    <img src="./asset/images/testImg_1.png" alt="">
                    <div class="cont">
                        <span class="title">상업 및 업무용 배관 시공</span><br>
                        음식점, 상가, 오피스 등 다양한 현장 경험 보유
                    </div>
                </li>
                <li>
                    <img src="./asset/images/testImg_1.png" alt="">
                    <div class="cont">
                        <span class="title">상업 및 업무용 배관 시공</span><br>
                        음식점, 상가, 오피스 등 다양한 현장 경험 보유
                    </div>
                </li>
                <li>
                    <img src="./asset/images/testImg_1.png" alt="">
                    <div class="cont">
                        <span class="title">상업 및 업무용 배관 시공</span><br>
                        음식점, 상가, 오피스 등 다양한 현장 경험 보유
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="contact-wrap">
        <div class="container">
            <div class="card">
                견적상담
                <a href="tel:02-476-6230" alt="02-476-6230" title="전화하기">02-476-6230</a>
                <span class="">전화로 자세한 견적상담을 받아보세요.</span>
            </div>
            <img src="" alt="지도 이미지">
        </div>
    </section>
</main>