---
layout: _layout.njk
title: 메인
permalink: /index.html
---
<main>
    <section class="main-banner">
        <div class="container">
            <div>

            <div class="main-banner-title-sub">도시가스 배관시공은</div>
            <div class="main-banner-title mb-20">
                일등 도시가스
            </div>
            <div class="btn-right">
                <a href="/gallery" title="시공사례" class="btn-primary-dark width-100">시공사례 확인하기</a>
                <a href="/quote" title="견적문의" class="btn-primary-light width-100">견적문의하기</a>
            </div>
            </div>
        </div>
    </section>
    <div class="bg-pipe">
        <section class="container section">
            <h3 class="main-title mb-10">현장에서 증명된 기술력</h3>
            <h4 class="main-title-sub mb-20">다양한 산업과 공간에 맞춤시공한 사례를 확인하세요.</h3>
            <ul class="main-list-1">
                <li>
                    <a href="#none">
                        <div class="img-wrap">
                            <img src="./asset/images/testImg_1.png" alt="">
                        </div>
                        업체명
                        <span>시공사례 상세설명 미리보기 텍스트</span>
                    </a>
                </li>
                <li>
                    <a href="#none">
                        <div class="img-wrap">
                            <img src="./asset/images/testImg_1.png" alt="">
                        </div>
                        업체명<br>
                        <span>시공사례 상세설명 미리보기 텍스트</span>
                    </a>
                </li>
                <li>
                    <a href="#none">
                        <div class="img-wrap">
                            <img src="./asset/images/testImg_1.png" alt="">
                        </div>
                        업체명<br>
                        <span>시공사례 상세설명 미리보기 텍스트 시공사례 상세설명 미리보기 텍스트 시공사례 상세설명 미리보기 텍스트 시공사례 상세설명 미리보기 텍스트</span>
                    </a>
                </li>
            </ul>
        </section>
        <section  class="container section">
            <ul class="main-list-2">
                <li>
                    <div class="cont">
                        <span class="title">상업 및 업무용 배관 시공</span>
                        음식점, 상가, 오피스 등 다양한 현장 경험 보유
                    </div>
                </li>
                <li>
                    <div class="cont">
                        <span class="title">상업 및 업무용 배관 시공</span>
                        음식점, 상가, 오피스 등 다양한 현장 경험 보유
                    </div>
                </li>
                <li>
                    <div class="cont">
                        기술을 연결하고,<br>
                        안전을 이어갑니다.
                    </div>
                </li>
                <li>
                    <div class="cont">
                        <span class="title">상업 및 업무용 배관 시공</span>
                        음식점, 상가, 오피스 등 다양한 현장 경험 보유
                    </div>
                </li>
                <li>
                    <div class="cont">
                        <span class="title">상업 및 업무용 배관 시공</span>
                        음식점, 상가, 오피스 등 다양한 현장 경험 보유
                    </div>
                </li>
                <li>
                    <div class="cont">
                        <span class="title">상업 및 업무용 배관 시공</span>
                        음식점, 상가, 오피스 등 다양한 현장 경험 보유
                    </div>
                </li>
            </ul>
        </section>
    </div>
    <section class="contact-wrap section">
        <div class="container">
            <div class="card">
                <img src="asset/images/logo.png">
                <span class="">전화로 자세한 견적상담을 받아보세요.</span>
                    <a href="tel:02-476-6230" alt="02-476-6230" title="전화하기">02-476-6230</a>
            </div>
            <div>
                <img src="asset/banner.png" alt="홍보이미지">
            </div>
        </div>
    </section>
</main>