---
layout: _layout.njk
title: 견적문의
permalink: /quote.html
---

<div class="page-title-wrap">
    <div class="container">
        <div>
            <h2 class="page-title">견적문의</h2>
            전화상담을 통해 견적을 확인해보세요.
        </div>
    </div>
</div>
<section class="container section text-center">
    <h3 class="mb-60">
        <span class="highlight">시공 파트너를 찾고 계신가요?</span>
    </h3>
    <p class="mb-60 p">
        일등도시가스는 수십 년간 도시가스 시공 분야에서 안전과 신뢰를 최우선으로 해왔습니다.<br>
        다양한 현장 경험과 체계적인 관리 시스템을 바탕으로 고객의 요구에 최적화된 솔루션을 제공합니다. <br>
        <br>
        복잡한 절차 없이 간단한 상담만으로도 귀사의 프로젝트에 가장 적합한 견적을 안내해드립니다.
    </p>

    <img src="asset/images/logo.png" alt="일등도시가스 로고" class="width-auto mb-60">

    <div class="box-primary-light">
        <div class="title">
            상담 및 견적문의
        </div>
        <a href="tel:02-476-6230" class="tel">
            02-476-6230
        </a>
        다년간의 현장과 기술로 귀사의 프로젝트에 함께합니다.
    </div>
</section>