{% block footer %}
<footer>
    <section class="width-100">
        <img src="" class="logo" alt="일등도시가스 로고" title="일등도시가스 홈으로 이동"/>
        <ul class="comp-info-wrap">
           <li><span>대표</span>이재필</li> 
           <li><span>전화번호</span>02-476-6230</li> 
           <li><span>주소</span>서울시 강동구 아리수로 64길34 2F</li> 
           <li><span>이메일</span>asia89@hanmail.net</li> 
           <li><span>사업자번호</span>663-85-01068</li> 
        </ul>
    </section>
    <section>
        <p>
            문의 및 견적상담
           <span class="fw-600">02-476-6230</span>  
        </p>
        <ul>
            <li><a href="http://"><img src="./asset/images/icon_kakao_w.png" alt="일등도시가스 카카오톡채널" title="일등도시가스 카카오톡채널"></a></li>
            <li><a href="http://"><img src="./asset/images/icon_kakao_w.png" alt="일등도시가스 인스타그램" title="일등도시가스 인스타그램"></a></li>
            <li><a href="http://"><img src="./asset/images/icon_kakao_w.png" alt="일등도시가스 네이버블로그" title="일등도시가스 네이버블로그"></a></li>
            <li><a href="http://"><img src="./asset/images/icon_kakao_w.png" alt="일등도시가스 유튜브채널" title="일등도시가스 유튜브채널"></a></li>
        </ul>
    </section>
</footer>
{% endblock footer %}