{% block footer %}
<footer class="footer">
    <div class="container">
        <section class="width-30">
            <img src="asset/images/logo-footer.png" class="logo-footer" alt="일등도시가스 로고" title="일등도시가스 홈으로 이동"/>
            <address class="comp-info-wrap">
                <div><span>대표</span>이재필</div> 
                <div><span>사업자번호</span>663-85-01068</div> <br>
                <div><span>주소</span>서울시 강동구 아리수로 64길34 2F</div> <br>
                <div><span>전화번호</span>02-476-6230</div> 
                <div><span>이메일</span>asia89@hanmail.net</div> 
            </address>
            <div class="copyright">ⓒ 2025. 일등도시가스 All rights reserved. </div>
        </section>
        <section>
            <p class="footer-tel-wrap mb-10">
                문의 및 견적상담<br>
                <span class="tel">02-476-6230</span>  
            </p>
            <ul class="footer-sms-list hidden">
                <li><a href="http://"><img src="asset/images/icon-kakao-w.png" alt="일등도시가스 카카오톡채널" title="일등도시가스 카카오톡채널"></a></li>
                <li><a href="http://"><img src="asset/images/icon-insta-w.png" alt="일등도시가스 인스타그램" title="일등도시가스 인스타그램"></a></li>
                <li><a href="http://"><img src="asset/images/icon-blog-w.png" alt="일등도시가스 네이버블로그" title="일등도시가스 네이버블로그"></a></li>
                <li><a href="http://"><img src="asset/images/icon-youtube-w.png" alt="일등도시가스 유튜브채널" title="일등도시가스 유튜브채널"></a></li>
            </ul>
        </section>
    </div>
</footer>
{% endblock footer %}