<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>일등도시가스</title>
		<script type="text/javascript" src="./asset/lib/jquery-3.7.1.min"></script>
		<script type="text/javascript" src="./asset/js/Common.js"></script>
        <link rel="stylesheet" href="asset/css/Common.min.css" />
        
    </head>
    <body>
        <!--
        <a href="#">메뉴로 바로가기</a>
        -->
        {%include "_header.njk"%}
        {{ content | safe }}
        {%include "_footer.njk"%}
        {%include "_leftFloatingNav.njk"%}

    </body>
</html>
