<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" href="https://gasnetwork.netlify.app/favicon.ico" />
		<meta name="format-detection" content="telephone=no, address=no, email=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			data-rh="true"
			name="description"
			content="도시가스 전문 시공업체 일등도시가스입니다. 일등도시가스,도시가스배관공사,도시가스공사업체,도시가스철거공사업체,도시가스배관공사,도시가스설치연결비용,도시가스배관공사비용,도시가스배관공사견적,도시가스견적,도시가스철거견적,도시가스시공설치업체"
		/>
		<meta
			data-rh="true"
			name="keywords"
			content="도시가스 전문 시공업체 일등도시가스입니다. 일등도시가스,도시가스배관공사,도시가스공사업체,도시가스철거공사업체,도시가스배관공사,도시가스설치연결비용,도시가스배관공사비용,도시가스배관공사견적,도시가스견적,도시가스철거견적,도시가스시공설치업체"
		/>
		<meta data-rh="true" property="og:type" content="website" />

		<meta data-rh="true" id="Meta_Url" property="og:url" content="" />
		<meta data-rh="true" id="Meta_Title" property="og:title" content="{{ title }}" />
		<meta data-rh="true" id="Meta_Description" property="og:description" content="도시가스 전문 시공업체 일등도시가스입니다." />

		<meta data-rh="true" property="og:image" content="https://gasnetwork.netlify.app/asset/images/thumbnail.png" />
		<meta data-rh="true" property="og:site_name" content="일등도시가스" />
		<meta data-rh="true" property="og:locale" content="ko_KR" />

		<meta data-rh="true" name="twitter:image" content="https://gasnetwork.netlify.app/asset/images/thumbnail.png" />

		<meta data-rh="true" id="Meta_Title2" name="twitter:title" content="title" />
		<meta data-rh="true" id="Meta_Description2" name="twitter:description" content="도시가스 전문 시공업체 일등도시가스입니다." />

		<title>{{ title }}</title>
		<script type="text/javascript" src="./asset/lib/jquery-3.7.1.min.js"></script>
		<script type="text/javascript" src="./asset/js/Common.js"></script>
		<link rel="stylesheet" href="asset/css/Common.min.css" />
	</head>
	<body>
		<!--
        <a href="#">메뉴로 바로가기</a>
        -->
		{%include "_header.njk"%}
		{{ content | safe }}
		{%include "_footer.njk"%} {%include "_leftFloatingNav.njk"%}
		<script>
			var href = window.location.href;
			$("#Meta_Url").attr("content", href);
		</script>
	</body>
</html>
