
<!--SNS 바로가기 기능-->
<aside class="left-floating-nav ">
    <a href="https://" alt="일등도시가스 카카오톡 상담하기" title="일등도시가스 카카오톡 상담하기">
        <img src="asset/images/icon-kakao.png" alt="유튜브로고">
        카카오톡 문의
    </a>

    <a href="https://" alt="일등도시가스 인스타그램 바로가기" title="일등도시가스 인스타그램 바로가기">
        <img src="asset/images/icon-insta.png" alt="유튜브로고">
        인스타그램
    </a>
    <a href="https://" alt="일등도시가스 네이버블로그 바로가기" title="일등도시가스 네이버블로그 바로가기">
        <img src="asset/images/icon-blog.png" alt="유튜브로고">
        네이버블로그
    </a>
    <a href="https://" alt="일등도시가스 유튜브 바로가기" title="일등도시가스 유튜브 바로가기">
        <img src="asset/images/icon-youtube.png" alt="유튜브로고">
        유튜브
    </a>
    <a href="javascript:GoToTop()" alt="맨 위로" title="맨 위로">
        <img src="asset/images/icon-arr.svg" alt="유튜브로고">
        Top
    </a>
</aside>
<!--SNS 바로가기 기능-->

<button type="button" id="BtnTop" class="btn-top" onclick="GoToTop()">
    <img src="asset/images/icon-arr-w.svg" alt="유튜브로고">
    Top
</button>
