//폰트페이스
@font-face {
	font-family: "NotoSansKR";
	src: url(/asset/font/NotoSansKR-Thin.ttf) format("truetype");
	font-weight: 100;
}
@font-face {
	font-family: "NotoSansKR";
	src: url(/asset/font/NotoSansKR-ExtraLight.ttf) format("truetype");
	font-weight: 200;
}
@font-face {
	font-family: "NotoSansKR";
	src: url(/asset/font/NotoSansKR-Light.ttf) format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "NotoSansKR";
	src: url(/asset/font/NotoSansKR-Regular.ttf) format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "NotoSansKR";
	src: url(/asset/font/NotoSansKR-Medium.ttf) format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: "NotoSansKR";
	src: url(/asset/font/NotoSansKR-SemiBold.ttf) format("truetype");
	font-weight: 600;
}
@font-face {
	font-family: "NotoSansKR";
	src: url(/asset/font/NotoSansKR-Bold.ttf) format("truetype");
	font-weight: 700;
}
@font-face {
	font-family: "NotoSansKR";
	src: url(/asset/font/NotoSansKR-ExtraBold.ttf) format("truetype");
	font-weight: 800;
}
@font-face {
	font-family: "NotoSansKR";
	src: url(/asset/font/NotoSansKR-Black.ttf) format("truetype");
	font-weight: 900;
}
