@use "../abstracts/variables" as variables;
@use "../abstracts/mixin" as mixin;
.btn-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.4rem;
}

.btn {
    border: 0;
    background: variables.$color-gray-100;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    text-align: center;
}
/*
key : 클래스명 생성 타이틀 ex) primary => .btn-primary
		key 에 dark가 들어가면 color:#fff로 설정됨.
value : btn backgroud color
*/
$btnColors: (
    primary: variables.$color-primary,
    primary-dark: variables.$color-primary-dark,
    primary-light: variables.$color-primary-light,
);
@each $name, $color in $btnColors {
    .btn-#{$name} {
        @extend .btn;
        background: $color;
        transition: 0.2s;
        &:hover {
            filter: brightness(0.8);
        }
        @if (str-index($name, "dark") != null) {
            color: #fff;
            &:hover {
                filter: brightness(1.3);
            }
        }
    }
}
.main-list-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    li {
        width: 100%;
        min-width: 0;
        a {
            display: block;
            font-weight: 600;
            .img-wrap{
                margin-bottom: .6rem;
            }
            span {
                font-size: 0.8rem;
                color: variables.$color-gray-600;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 400;
            }
            &:hover{
                img{
                    width: 110%;
                }
            }
        }
    }
}
.main-list-2{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    li{
        position: relative;
        width: calc((100% / 3) - .69rem);
        height: 200px;
        background: variables.$color-primary-dark;
        .cont{
            position: absolute;
            right: 0;
            top: 0;
            padding: 2rem;
            text-align: right;
            color: #fff;
            .title{
                font-weight: 600;
                font-size: 1.2rem;
                margin-bottom: .5rem;
                display: block;
            }
        }
        &:nth-child(3){
            background: transparent;
            .cont{
                font-size: 1.6rem;
                font-weight: 600;
                color: variables.$color-gray-950;
                line-height: normal;
                padding: 0;
            }
        }
    }
}
.btn-top{
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: .6rem;
    gap: 4px;
    background: variables.$color-gray-600;
    opacity: .8;
    transition: .2s;
    color: #fff;
    border-radius: 4px;
    img{
    width: 18px;
    }
    &:hover{
        opacity: 1;
    }
    
}

.img-wrap{
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 200px;
    img{
        width: 100%;
        position: absolute;
        @include mixin.centerXY;
        transition: .2s;
    }
}